<h3>Make a bet</h3>
<p><%= session[:player_name]%> has $<%= session[:player_pot].to_i %></p>
<form action='/bet' method='post'>
  <input type='text' name='bet_amount' />
  <br>
  <input type='submit' value='Bet' class='btn' />
</form>